article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}
ol,
ul {
  list-style: none;
}
.dropdown {
  z-index: 2;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.dropdown .nav-btn {
  margin: 10px;
  padding: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: #ffeb38;
  background: black;
}
.dropdown .nav-btn:hover {
  margin: 8px;
  width: 52px;
  height: 52px;
  color: #ffeb38;
}
.dropdown .links {
  width: 300px;
  height: 250px;
  padding: 10px;
  margin: 17px;
  position: absolute;
  z-index: 10;
  top: 70px;
  right: 0;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: #ffeb38;
}
.dropdown .link {
  width: 268px;
  height: 47px;
  margin: 2px auto;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 1.8rem;
  font-weight: 550;
  color: #000000;
  cursor: pointer;
}
.dropdown .link:hover {
  width: 270px;
  height: 49px;
}
.dropdown .dropdown-selected {
  display: flex;
  background-color: #000000;
  color: #ffeb38;
  opacity: 50;
}
nav {
  color: #ffeb38;
  background-color: #000000;
  display: flex;
  width: 100%;
  height: 100%;
  position: sticky;
}
.logo {
  padding: 2px;
  width: 149px;
  height: 120px;
  background-color: #000000;
}
footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: black;
  color: yellow;
  text-align: center;
}
